*{
    margin: 0;
    padding: 0;
}

:root{
    --color-1: #49bbbd;
    --color-2: #49bbbd80;
    --color-3: #0000;
    --color-4: #DFDCDC;
    --color-5: #FFFF;
    --color-6: #23BDEE;
    --color-7: #252641;
    --color-8: #2EBB5E;
    --color-9: #545567;
    --color-10: #595959;
    --color-11: #D8587E;
    --color-12: #FBECD7;
    --color-13: #ffffffe3;
    --color-14: #F88C3D;
    --color-15: #2F327D;
    --color-16: #696984;
    --color-17: #00CBB8;
    --color-18: #29B9E7;
    --color-19: #5B72EE;
    --color-20: #33EFA0;
    --color-21: #DCE2EE;
    --color-22: #C9D3E7;
    --color-23: #545AE8;
    --color-24: #F48C06;
    --color-25: #41BE90;
    --color-26: #5BEB7B;
    --color-27: #B2C4F0;
    --color-28: #5B5B5B;
    
    --font-: "Poppins", sans-serif;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #fafafa51;
    /* margin: 50px; */
}
/*HEADER*/
header{
    display: flex;
    gap: 350px;
    align-items: center;
    padding: 10px 50px 10px 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-1);
}
#logo{
    cursor: pointer;
    margin-top: 20px;
}
#header-nav{
    display: inline-flex;
    gap: 100px;
    align-items: center;
    height: 10px !important;
    /* border: solid 2px; */
}

#nav-links-span{
    display: inline-flex;
    gap: 70px;
}

#nav-links-span a{
    text-decoration: none;
color: var(--color-5);
    font-weight: 400;
    font-size: 1em;
    transition: all .15s;

    &:hover{
        color: var(--color-22);
    }
}

#nav-links-span-btns{
    display: inline-flex;
    gap: 20px;
}

#login{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px var(--color-5);
    border-radius: 17px;
    padding: 5px;
    width: 6rem;
    color: var(--color-28);
    background-color: var(--color-5);
}
:hover#login{
    background-color: var(--color-13);
}

#signup{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px #ffffff47;
    border-radius: 17px;
    padding: 5px;
    width: 6rem;
    color: var(--color-5);
    background-color: #ffffff47;   
}
:hover#signup{
    background-color: #ffffff29;
}


/*HERO-SECTION*/
#hero{
    height: 86vh;
    /* width: 100vw; */
    clip-path: ellipse(100% 100% at 50% 0%);
    background-color: var(--color-1);
}

#father{
    display: flex;
    gap: 150px;
    padding: 0px 0px 0px 50px;
    margin-top: 100px;
}

#first-son{
    /* border: solid; */
    margin-top: 90px;
    align-items: center;
    width: 33rem;
}
#first-son h4{
    font-size: 2.8em;
    font-weight: 600;
    color: var(--color-5);
}
#studying{
    color: var(--color-24);
}
#first-son-p{
    margin-top: 30px;
    font-size: 1em;
    font-weight: 400;
    color: var(--color-5);
}

#join-for-free-span{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
#join-for-free-a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px #ffffff47;
    border-radius: 17px;
    padding: 5px;
    width: 8rem;
    font-weight: 600;
    color: var(--color-5);
    background-color: #ffffff47;   
}
:hover#join-for-free-a{
    background-color: #ffffff29;
}

#play-like-btn{
    width: 8rem;
}
#watch-this{
    font-size: 1em;
    color: var(--color-7);
}


/*SECOND-SON*/
#second-son{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    width: 40rem;
}
#girl-hero{
    width: 30rem;
}
#assisted{
    width: 12rem;
    position: absolute;
    left: 10px;
    top: 170px;
}
#experience{
    position: absolute;
    width: 15rem;
    left: 10px;
    bottom: 120px;
}
#red-icon{
    position: absolute;
    width: 7rem;
    right: 50px;
    top: 90px;
}
#congrats{
    position: absolute;
    width: 12rem;
    right: 80px;
}


/*OUR-SUCCESS-DIV*/

#our-success{
    margin-top: 70px;
}
#success-div-span{
    justify-self: center;
    justify-content: center;
}
#success-h4{
    justify-self: center;
    font-size: 2em;
    font-weight: 600;
}
#success-p{
    text-align: center;
    font-size: 1em;
}

#our-success-son{
    display: flex;
    justify-self: center;
    gap: 50px;
    margin-top: 30px;
}
.son-span{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0;
}
.son-span h5{
    font-size: 5em;
    font-weight: 400;
    margin-bottom: 0px;
    background: linear-gradient(45deg, #545AE8,#33EFA0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.son-span p{
    margin-top: 0px;
    font-size: 1.5em;
}

/*SUCCESS DIV 2*/
#success-div-2{
    margin-top: 80px;

}
#success-div-2-h5{
    font-size: 1.5em;
    /* font-weight: 600; */
    display: block;
    justify-self: center;
    color: var(--color-17);
}#all-in-one{
    color: var(--color-15);
}

#success-div-2-p{
    font-size: 1em;
    display: block;
    justify-self: center;
    text-align: center;
    margin-top: 10px;
}

/*SUCCESS SECTION CARDS*/
#success-div-3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 30px;
}

.div-3-cards{
    position: relative;
    text-align: center;
    border: solid 2px var(--color-5);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--color-21);
    padding: 20px;
    width: 15rem;
    height: 15rem;
    background-color: var(--color-5);
}
#invoice-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: -10%;
    transform: translateX(-50%);
    color: var(--color-5);
    background-color: var(--color-23);
    padding: 10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100px;
    font-size: 2em;
}
#calender-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: -10%;
    transform: translateX(-50%);
    color: var(--color-5);
    background-color: var(--color-17);
    padding: 10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100px;
    font-size: 2em;
}
#users-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: -10%;
    transform: translateX(-50%);
    color: var(--color-5);
    background-color: var(--color-19);
    padding: 10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100px;
    font-size: 2em;
}
.div-3-cards h4{
    margin-top: 50px;
    font-size: 1em;
    color: #2F327D;
}
.div-3-cards p{
    margin-top: 20px;
    font-size: 0.8em;
    color: #545567;
}

/*WHAT IS TOTC SECTION*/
#what-is-totc-div-1{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
#totc-div-1-h4{
    justify-self: center;
    font-size: 1.5em;
    color: var(--color-15);

}#totc{
    color: var(--color-17);
}

#totc-div-1-p{
    justify-self: center;
    text-align: center;
    margin-top: 15px;
    font-size: 0.9em;
}

/*PHOTOS DIV*/
#photos-father{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
}
.totc-photos-1{
    position: relative;
    border-radius: 20px;
    width: 30rem;
    height: 20rem;
    background: url("landing-imgs/woman instructor.png"), rgb(73, 66, 123, 0.418);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    /* background: rgb(0,0,0,0.3); */
}
.totc-photos-2{
    position: relative;
    border-radius: 20px;
    width: 30rem;
    height: 20rem;
    background: url("landing-imgs/for students.png") rgba(73, 66, 123, 0.418);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
#totc-img-1, #totc-img-2{
    width: 100%;
}

#instructors-span, #students-span{
    display: inline-block;
    justify-self: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 15rem;
    height: 5rem;
    /* gap: 50px; */
    /* border: solid; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

#instructors-span h4, #students-span h4{
    color: var(--color-5);
    font-size: 1.1em;
}
#instructors-span nav, #students-span nav{
    margin-top: 10px;
}
#instructor-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 1px var(--color-5);
    text-decoration: none;
    font-size: 0.8em;
    color: var(--color-5);
    width: 10rem;
    padding: 10px;
}
:hover#instructor-link{
    cursor: pointer;
    border: solid 1px #ffffff2b;
    background-color: #ffffff2b;
}
#student-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 1px #29b7e7cb;
    background-color: #29b7e7cb;
    text-decoration: none;
    font-size: 0.8em;
    color: var(--color-5);
    width: 10rem;
    padding: 10px;
}
:hover#student-link{
    cursor: pointer;
    border: solid 1px #29b7e7a4;
    background-color: #29b7e7a4;
}


/*EVERYTHING OTC*/
#totc-last-div{
    display: flex;
    position: relative;
    margin: 120px;
}

#last-div-div1 h4{
    font-size: 1.5em;
    font-weight: 450;
    color: #2F327D;
}#div1-span{
    color: var(--color-17);
}

#last-div-div1 p{
    margin-top: 15px;
    font-size: 1em;
    font-weight: 300;
}

#last-div-div1 nav{
    margin-top: 15px;
}
#last-div-div1-a{
    color: #252641;
    font-weight: 300;
}
:hover#last-div-div1-a{
    color: #49bbbd;
    cursor: pointer;
}

/*BOXED LIKE DIVS*/
#last-div-div2{
    position: absolute;
    border: solid 1px #23BDEE;
    border-radius: 10px;
    width: 5rem;
    height: 5rem;
    top: -40px;
    right: 700px;
    background-color: #23BDEE;
}
#last-div-div3{
    position: absolute;
    border: solid 1px #33EFA0;
    border-radius: 10px;
    width: 8rem;
    height: 8rem;
    top: 115px;
    right: 200px;
    background-color: #33EFA0;

}


/*OUR FEATURES*/
#features-h4{
    display: block;
    justify-self: center;
    font-size: 1.5em;
    color: #2F327D;
}#features{
    color: #00CBB8;
}

#features-p{
    display: block;
    justify-self: center;
    margin-top: 10px;

}

/*DIVS*/
#features-divfather{
    margin: 50px 50px 0 50px;

}

#motherdiv-1{
    display: flex;
    gap: 200px;
    /* align-items: center; */
}

#imgs-div{
    display: flex;
    gap: 5px;
    position: relative;
    border: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 10px;
    border-top: solid 30px #d6d5d595;
    background-color: #d6d5d557;
    width: 40rem;
    margin-left: 50px;
}

#present-call-div{
    display: grid;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    height: 20rem;
    width: 20rem;
    padding: 10px;
    margin-left: 50px;
    /* position: relative; */
}


/*IMG1*/
#features-img1{
    /* margin-top: 0px; */
    width: 14rem;
    border-radius: 20px;
}#img1-label{
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 10px;
    align-items: center;
    /* border: solid; */
    border-radius: 10px;
    width: 12.5rem;
    padding: 8px;
    top: 50%;
    left: 10%;
    transform: translate(-50% -50%);
    background-color: #bbbbbb84;
}#img1-label i{
    color: #FFFF;
    font-size: 0.7em;
}#img1-label span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    width: 5rem;
    color: #FFFF;
    border-radius: 5px;
    border: 1px #29b7e7cb;
    background-color: #29b7e7a4;
}#img1-label p{
    font-size: 0.7em;
    color: #FFFF;
}#img1-btns{
    display: inline-flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    /* border: solid; */
    margin-top: -20px;

}#btn1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 6rem;
    color: #FFFF;
    border-radius: 20px;
    border: 1px #3238e7;
    background-color: #3238e7;  
}:hover#btn1{
    cursor: pointer;
    background-color: #3238e7d1;
    border: 1px #3238e7d1;
    box-shadow: 0px 0px 5px #3238e7d1;
}
#btn2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 6rem;
    color: #FFFF;
    border-radius: 20px;
    border: 1px #dd2626;
    background-color: #dd2626;
    box-shadow: 0px 0px 20px #dd2626;
}:hover#btn2{
    cursor: pointer;
    background-color: #dc1e1ef7;
    border: #dd2626;
    box-shadow: none;
}

/*MIDDLE*/
#middle{
    display: grid;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    /* position: relative; */
    padding: 10px;
    width: 15rem;
    height: 25rem;
}
#middle-img1{
    border-radius: 10px;
    width: 12rem;
}
#middle-img1-label{
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 10px;
    align-items: center;
    /* border: solid; */
    border-radius: 10px;
    width: 8rem;
    padding: 5px;
    top: 37%;
    left: 50%;
    color: #FFFF;
    font-size: 0.7em;
    transform: translate(-50% -50%);
    background-color: #bbbbbb84;
}

#middle-img2{
    border-radius: 10px;
    width: 12rem;
}

#middle-img2-label{
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 10px;
    align-items: center;
    /* border: solid; */
    border-radius: 10px;
    width: 8rem;
    padding: 5px;
    top: 87%;
    left: 50%;
    color: #FFFF;
    font-size: 0.7em;
    transform: translate(-50% -50%);
    background-color: #bbbbbb84;
}

/*LAST*/
#last{
    display: grid;
    justify-content: center;
    gap: 20px;
    align-items: center;
    /* border: solid; */
    /* position: relative; */
    padding: 10px;
    width: 20rem;
    height: 25rem;
    z-index: 100;
}
#last-img1{
    border-radius: 10px;
    width: 12.5rem;
}
#last-img1-label{
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 10px;
    align-items: center;
    /* border: solid; */
    border-radius: 10px;
    width: 8rem;
    padding: 5px;
    top: 40%;
    left: 85%;
    color: #FFFF;
    font-size: 0.7em;
    transform: translate(-50% -50%);
    background-color: #bbbbbb84;
}

#last-img2{
    border-radius: 10px;
    width: 13.5rem;
}

#last-img2-label{
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 10px;
    align-items: center;
    /* border: solid; */
    border-radius: 10px;
    width: 8rem;
    padding: 5px;
    top: 96%;
    left: 85%;
    color: #FFFF;
    font-size: 0.7em;
    transform: translate(-50% -50%);
    background-color: #bbbbbb84;
}

/*USER INTERFACE*/
#user-interface-div{
    /* border: solid; */
    width: 25rem;
    margin-top: 40px;
}

#user-interface-div h4{
    font-size: 1.7em;
    color: #2F327D;
    
}#user-interface{
    color: #00CBB8;
}

.user-interface-div-span{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 45px;
}

/*INTERFACE SIDE ICONS*/
#interface-icon1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    border: solid 1px #FFFF;
    border-radius: 50px;
    box-shadow: 0px 0px 5px;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5em;
    color: #2F327D;
}

#interface-icon2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    border: solid 1px #FFFF;
    border-radius: 50px;
    box-shadow: 0px 0px 5px;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5em;
    color: #F88C3D;
}

#interface-icon3{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    border: solid 1px #FFFF;
    border-radius: 50px;
    box-shadow: 0px 0px 5px;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5em;
    color: #2F327D;
}


/*MOTHERDIV 2*/
#motherdiv-2{
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    margin-top: 90px;
}

#motherdiv-2 div h4{
    font-size: 1.7em;
    color: #2F327D;
    line-height: 50px;
}#tools{
    color: #00CBB8;
}

#motherdiv-2 div p{
    margin-top: 20px;
    line-height: 30px;
    font-size: 1.1em;
}

#motherdiv-2 img{
    width: 30rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ecebeb9d;
}

/*MOTHERDIV 3*/
#motherdiv-3{
    display: flex;
    gap: 250px;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
}
#div-italy-card{
    /* border: solid; */
    position: relative;
}
 
#italy-card{
    /* border: solid; */
    padding: 20px;
    box-shadow: 0px 0px 2px #cdcdcd;
    border-radius: 20px;
    width: 25rem;
}
#italy-card p{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #5b71ee57;
    border-radius: 20px;
    color: #5B72EE;
    background-color: #5b71ee57;
}
#italy-card h4{
    margin-top: 30px;
    font-size: 1.2em;
    color: #2F327D;
    word-spacing: 1px;
    letter-spacing: 1px;
}
#italy-card img{
    width: 28rem;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #fdfdfd;
}

#send{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
    padding: 15px;
    top: 90%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0px 0px 2px #c2c0b5;
    background-color: #fdfdfd;
    z-index: 200;
}
#send span{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;
    width: 2.5rem;
    border-radius: 50px;
    color: #00CBB8;
    background-color: #00cbb736;
}
#send p{
    font-size: 1em;
    color: #00CBB8;
}

#assessment-div h4{
    font-size: 1.5em;
    color: #2F327D;
}
#quizzes{
    color: #00CBB8;
}
#assessment-div p{
    margin-top: 20px;
    font-size: 1.1em;
    letter-spacing: 1px;
}

/*MOTHERDIV-4*/
#motherdiv-4{
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 50px;

}
#motherdiv-4 h4{
    font-size: 1.5em;
    color: #00CBB8;
}
#toolsfor-educators{
    color: #2F327D;
}
#motherdiv-4 p{
    margin-top: 20px;
    font-size: 1.1em;
    letter-spacing: 1px;
    /* line-height: 30px; */
}
#motherdiv-4 img{
    width: 40rem;
}

/* MOTHERDIV-5 */
#motherdiv-5{
    margin-left: 50px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 25%;
}

#blur-img-bg{
    /* border: solid; */
    position: relative;
    width: 30rem;
    height: 20rem;
    padding: 5px;
    border-radius: 20px;
    border-top: solid 25px #d6d5d595;
    background-color: #d6d5d557;
}

#overlaid-div{
    /* border: solid; */
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-top: solid 20px #d6d5d595;
    background-color: #FFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #d6d5d595;
}

#overlaid-img1 img, #overlaid-img2 img{
    width: 12rem;
    border-radius: 10px;
}
#overlaid-img1 h5{
    font-size: 0.8em;
    color: #252641;
}
#overlaid-img1 p{
    font-size: 0.7em;
    color: #252641;
}


#overlaid-img2 span{
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 10px;
    align-items: center;
    /* border: solid; */
    border-radius: 10px;
    width: 8rem;
    padding: 5px;
    top: 63%;
    left: 55%;
    color: #FFFF;
    font-size: 0.7em;
    transform: translate(-50% -50%);
    background-color: #bbbbbb84;
}
#end-discussion{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 6rem;
    font-size: 0.8em;
    color: #FFFF;
    border-radius: 20px;
    border: 1px #dd2626;
    background-color: #dd2626;
}

/*SIDE WRITEUP*/
#writeup-div h4{
    font-size: 1.5em;
    color: #2F327D;
}#discussions{
    color: #00CBB8;
}

#writeup-div p{
    margin-top: 20px;
}

#see-more-features{
    margin-top: 120px;
    display: block;
    justify-self: center;
    align-items: center;
    border: solid 1px #00CBB8;
    border-radius: 25px;
    padding: 10px;
    color: #00CBB8;
    font-weight: 400;
    font-size: 0.8em;

    &:hover{
        background-color: #00cbb727;
        cursor: pointer;
    }
}


/*EXPLORE COURSE SECTION*/
#explore-course{
    background-color: #5459e817;
    margin-top: 50px;
    width: 70%;
    padding: 70px;
    color: #252641;
}

#explore-h4{
    margin-top: 80px;
    font-size: 1.5em;
}
#explore-p{
    margin-top: 20px;
}
.diagonal-icons{
    margin-top: 60px;
    font-weight: 700;
}

/*DIAGONAL PARENT1*/
#diagonal-parent-1, #diagonal-parent-2, #diagonal-parent-3{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-left: 300px;
    margin-top: 30px;
    position: relative;
}

.label-1img, .label-2img, .label-3img, .label-4img, .label-5img, .label-6img, .label-7img{
    width: 7rem;
}

.diagonal-imgs{
    width: 25rem;
}

/*WHAT THEY SAY*/
#what-they-say{
    margin-top: 50px;
    padding: 50px;
    color: #252641;
}

#father-what-they-say{
    display: flex;
    justify-content: space-evenly;
    gap: 90px;
    align-items: start;

}

#testimonial h5{
    font-size: 1.3em;
    font-weight: 300;
    display: inline-flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    color: #2F327D;
}#line{
    transform: scaleX(5);
}

#testimonial h4{
    font-size: 1.6em;
    font-weight: 600;
    margin-top: 20px;
    color: #2F327D;
}

#testimonial-p1{
    margin-top: 20px;
}

#testimonial nav{
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    border: solid 1px #00CBB8;
    border-radius: 100px;
    padding: 0px 0px 0px 10px;
}
#assessment-link a{
    text-decoration: none;
    color: #00CBB8;
}
#right-arrow{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #00CBB8;
    border-radius: 100px;
    width: 3rem;
    height: 3rem;
    color: #00CBB8;
    right: 0;
}

#testimonial-img{
    position: relative;
}

#testimonial-img img{
    width: 22rem;
}

/*REVIEW*/
#review{
    position: absolute;
    border-left: solid 10px #dd2626;
    border-radius: 10px;
    width: 22rem;
    padding: 30px;
    top: 65%;
    left: 13%;
    box-shadow: 0px 0px 1px #252641;
    background-color: #FFFF;
}
#review p{
    font-size: 0.8em;
    line-height: 25px;
}
#gloria-rose{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*REVIEW STARS*/
#star i{
    color: #F88C3D;
}

/*LAST SECTION*/
#last-section{
    padding: 50px;
    margin-top: 60px;
    color: #252641;
}
#latest-news-h4{
    display: block;
    justify-self: center;
    align-self: center;
    font-size: 1.2em;
    color: #2F327D;
}
#latest-news-p{
    display: block;
    justify-self: center;
    align-self: center;
    margin-top: 15px;
}

#last-section-father{
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 70px;
}

#latest-news-img1-div img{
    width: 33rem;
}
#news-nav{
    margin-top: 20px;
    width: 5rem;
    padding: 2px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid 1px #00CBB8;
    border-radius: 20px;
    background-color: #00CBB8;
}#news-nav a{
    color: #FFFF;
    text-decoration: none;
}

#latest-news-img1-div h4{
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: 520;
}
#latest-news-img1-div p{
    margin-top: 20px;
}
#readmore-nav{
    margin-top: 30px;
}#read-more{
    color: #252641;
    
    &:hover{
        color: #00CBB8;
    }
}