*{
    margin: 0;
    padding: 0;
}

:root{
    --color-1: #49bbbd;
    --color-2: #49bbbd80;
    --color-3: #0000;
    --color-4: #DFDCDC;
    --color-5: #FFFF;
    --color-6: #23BDEE;
    --color-7: #252641;
    --color-8: #2EBB5E;
    --color-9: #545567;
    --color-10: #595959;
    --color-11: #D8587E;
    --color-12: #FBECD7;
    --color-13: #ffffffe3;
    --color-14: #F88C3D;
    --color-15: #2F327D;
    --color-16: #696984;
    --color-17: #00CBB8;
    --color-18: #29B9E7;
    --color-19: #5B72EE;
    --color-20: #33EFA0;
    --color-21: #DCE2EE;
    --color-22: #C9D3E7;
    --color-23: #545AE8;
    --color-24: #F48C06;
    --color-25: #41BE90;
    --color-26: #5BEB7B;
    --color-27: #B2C4F0;
    --color-28: #5B5B5B;
    --color-29: #2B2C5A;
    
    --font-: "Poppins", sans-serif;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #fafafa51;
    color: #252641;
    /* margin: 50px; */
}
/*HEADER*/
header{
    display: flex;
    gap: 350px;
    align-items: center;
    padding: 10px 50px 10px 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--color-5);
}
#logo{
    cursor: pointer;
    margin-top: 20px;
    
}
#header-nav{
    display: inline-flex;
    gap: 150px;
    align-items: center;
    height: 10px !important;
    /* border: solid 2px; */
}

#nav-links-span{
    display: inline-flex;
    gap: 70px;
}

#nav-links-span a{
    text-decoration: none;
    color: #5B5B5B;
    font-weight: 400;
    font-size: 1em;
    transition: all .15s;

    &:hover{
        color: #252641;
    }
}

#nav-link-span-drop{
    display: flex;
    gap: 20px;
    align-items: center;
}
#nav-link-span-drop img{
    width: 3.5rem;
}
#nav-link-span-drop a{
    text-decoration: none;
    color: #5B5B5B;
    font-size: 1em;

    &:hover{
        color: #252641;
    }
}

/*SECTION-1*/
#section-1{
    padding: 50px;
    margin-top: 5%;
    height: 70vh;
}

#section-1 h4{
    font-size: 3em;
    color: #49bbbd;
    text-align: center;
}

/*SECTION-1 CARDS*/
#section-1-cards-father{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 5%;
    margin-top: 3%;
}

.card1-and-card3{
    /* border: solid; */
    height: 21rem;
    padding: 10px 20px 10px 20px;
    font-size: 0.9em;

    &:hover{
        transform: translateZ(90px) scale(1.03);
        box-shadow: 0px 0px 10px #d0d0d6;
    }
}

.card1-and-card3 .p1{
    display: inline-flex;
    align-items: center;
    gap: 10%;
    font-size: 1em;
    font-weight: 600;
    color: #49bbbd;
}

.card1-and-card3 .p2{
    font-size: 0.7em;
    font-weight: 500;
    margin-top: 2%;
}

#free, #dollz-editor{
    font-weight: 600;
    font-size: 2.7em;
}

.list-ps{
    margin-top: 3%;
    margin-bottom: 7%;
    font-size: 0.9em;
}

.check-1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #5455676d;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    
}

.check-3{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #00cbb761;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
}

#try-for-free{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #252641;
    border-radius: 10px;
    width: 90%;
    padding: 8px;
    margin-top: 40%;
    color: #49bbbd;
    font-weight: 600;
    text-decoration: none;


    &:hover{
        cursor: pointer;
    }
}

#extended-license{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #252641;
    border-radius: 10px;
    width: 90%;
    padding: 8px;
    margin-top: 20%;
    color: #49bbbd;
    font-weight: 600;
    text-decoration: none;

    &:hover{
        cursor: pointer;
    }
}



/*CARD-2*/
#card2{
    /* border: solid; */
    height: 21rem;
    padding: 10px 20px 10px 20px;
    font-size: 0.9em;

    &:hover{
        transform: translateZ(50px) scale(1.03);
        box-shadow: 0px 0px 10px #d0d0d6;
    }
}

#individual-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#individual-div #span-1 p{
    display: inline-flex;
    align-items: center;
    gap: 10%;
    font-size: 0.9em;
    font-weight: 600;
    color: #49bbbd;
}

#individual-div #span-2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #2F327D;
    border-radius: 30px;
    width: 4rem;
    padding: 2px;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
}

#card2 #p1{
    font-size: 0.7em;
    font-weight: 500;
    margin-top: 2%;
}

#dollz-monthly{
    font-weight: 600;
    font-size: 2.7em;
}

.check-2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f8c03de3;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
}

#regular-license{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #49bbbd;
    border-radius: 10px;
    background-color: #49bbbd;
    width: 90%;
    padding: 8px;
    margin-top: 5%;
    color: #FFFF;
    font-weight: 600;
    text-decoration: none;

    &:hover{
        cursor: pointer;
    }
}


/*SECTION-2*/
#section-2{
    padding: 50px;
}

#section-2 #first-div{
    display: block;
    justify-self: center;
    padding: 10px;
    height: 40vh;
    width: 85%;
    border-radius: 30px;
    background-color: #2B2C5A;
}

#section-2 #first-div h3{
    text-align: center;
    color: #FFFF;
    margin-top: 30px;
    font-size: 1.5em;
}

#section-2 #first-div p{
    text-align: center;
    color: #FFFF;
    margin-top: 20px;
    font-size: 1em;
    /* letter-spacing: 1px; */
    word-spacing: 1.5px;
}

#section-2 #first-div button{
    display: block;
    justify-self: center;

    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
    width: 12rem;
    border: solid 1px #49bbbd;
    border-radius: 10px;
    color: #FFFF;
    font-weight: 600;
    background-color: #49bbbd;

    &:hover{
        background-color: #00cbb761;
        border: solid 0.5px #00cbb761;
        cursor: pointer;
    }
    
}

#section-2 h3{
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
}

#section-2 #second-div{
    margin-top: 30px;
}

#second-div .divs{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#second-div .divs span p{
    font-size: 1em;
    font-weight: 500;
    
    &::before{
        content: "● ";
        font-size: 1.9em;
        color: #49bbbd;

    }
}

.divs-father:hover .dropdown-p{
    display: block !important;
    
}

.divs-father .dropdown-p{
    margin-top: 20px;
    font-size: 0.79em;
    display: none;
    z-index: 100;
    left: 0;

}

#second-div hr{
    margin-top: 20px;
}

/*SECTION-3*/
#section-3{
    padding: 50px 100px 50px 100px;
    background-color: #29b7e717;
    position: relative;
    height: 80vh;
}

#section-3 #first-h3{
    font-size: 1.5em
    
}

#section-3-div{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
}

.bulkin-simons{
    background-color: #FFFF;
    width: 15rem;
    height: 18rem;
    padding: 20px;
    /* border: solid; */
    border-radius: 15px;
    box-shadow: 0px 0px 2px #d0d0d6;
}

.bulkin-simons #bulkin-img{
    display: block;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #DFDCDC;
}

.bulkin-simons h3{
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

.bulkin-simons p{
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;

}

/*APP IS FREE LABEL*/
#app-is-free{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 5rem;
    padding: 20px;
    position: absolute;
    left: 12%;
    top: 90%;
    border: solid 1px #2B2C5A;
    border-radius: 20px;
    background-color: #2B2C5A;
}

#app-is-free h3{
    color: #FFFF;

}

#app-is-free nav{
    display: inline-flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    /* border: solid #FFFF; */
    width: 20rem;
    margin-left: 50%;
    
}

#app-is-free nav #android{
    display: inline-flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    width: 12rem;
    padding: 3px;
    border: solid 1px #23BDEE;
    border-radius: 7px;
    background-color: #23BDEE;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: #FFFF;
}

#app-is-free nav #ios{
    display: inline-flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    width: 12rem;
    padding: 3px;
    border: solid 1px #49bbbd;
    border-radius: 7px;
    background-color: #49bbbd;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: #FFFF;
}

/*LAST CARDS*/
#last-cards-father{
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    margin-top: 50px;
    padding: 50px;

}

.last-cards{
    width: 32rem;
    /* border: solid; */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 3px #d0d0d6;
    background-color: #FFFF;
}

.last-cards img{
    width: 100%;
}

.last-cards h3{
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}

.last-cards p{
    margin-top: 10px;
    font-size: 0.85em;
}

.last-cards button{
    margin-top: 50px;
    display: block;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 10rem;
    padding: 8px;
    /* border: solid 0.5px #49bbbd; */
    border-radius: 5px;
    background-color: #49bbbd;
    font-size: 0.9em;
    font-weight: 600;
    color: #FFFF;

    &:hover{
        cursor: pointer;
        background-color: #49bbbde3;
    }
}


/*FOOTER*/
footer{
    background-color: #2b2c5a;
    padding: 20px 50px 50px 50px;
    height: 47vh;
    margin-top: 30px;
}

.footer-div{
    display: flex;
    justify-content: center;
    gap: 6%;
    align-items: center;
    color: #FFFF;
    /* border: solid; */
}
.footer-div h3{
    color: #ffffff47;
    transform: scaleY(5);
}

#subscribe-div{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    /* width: 25rem; */
    padding: 5px;
    /* border: solid; */
}

#subscribe-h4{
    margin-top: 60px;
    justify-self: center;
    align-self: center;
    color: #ffffffa4;
}

input{
    padding: 10px;
    width: 12rem;
    border: solid 1px #ffffffa4;
    border-radius: 20px;
    color: #ffffffa4;
    background-color: #2b2c5a;
}
button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 6rem;
    right: 0;
    border: solid 1px #00CBB8;
    border-radius: 20px;
    color: #FFFF;
    background-color: #00CBB8;
    box-shadow: 0px 0px 3px #00CBB8;

    &:hover{
        background-color: #00cbb77b;
        cursor: pointer;
    }
}

#carrers-span-father{
    display: block;
    justify-self: center;
    align-items: center;
    margin-top: 50px;
    /* border: solid; */
}

#carrers-span{
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    width: 50rem;
}#carrers-span h4{
    font-size: 0.9em;
    color: #ffffffa4;
}
#carrers-span a{
    text-decoration: none;
    color: #ffffffa4;
    font-size: 0.9em;

    &:hover{
        height: 100%;
        
    }
}

#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    font-size: 0.8em;
    color: #ffffffa4;
}